<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <%- include('../layouts/head.ejs') %>
    <link rel="stylesheet" href="../css/home.css">

  </head>
  <body class="pt-5">
      <%- include('../layouts/header.ejs') %>

      <div class="container mb-5">

    <section class="searcharea bg-light">

  <div class="col-md-6 offset-md-3">

<!-- Post form   -->
      <form class="" action="http://127.0.0.1:3000/api/items/create" method="post">

<!-- Title col -->
          <div class="mb-3">

            <label for="">Title of item</label><br>
            <input type="text" name="title" class="form-control" placeholder="Item title" aria-label="">

          </div>

          <div class="mb-3">

            <label for="">Intro of item</label><br>
            <input type="text" name="intro" class="form-control" placeholder="Item intro" aria-label="">

          </div>



<!-- Category col -->
          <div class="mb-3">

            <label for="">Type of category</label><br>
            <select class="form-select" name="category">
              <option value="0">Toutes les catégories</option>
                <% listOfCategories.forEach(category => { %>
              <option value="<%= category.id %>"><%= category.title %></option>
                <% }) %>


            </select>

          </div>




<!-- Description col -->
          <div class="mb-3">

              <label for="">Description</label><br>
              <!-- <input type="text" class="form-control" name="" value="" placeholder="Write desription ..."> -->
              <textarea name="description" class="form-control" placeholder="Write description . . ." rows="8" cols="80"></textarea>

          </div>

<!-- Upload col -->
          <div class="mb-3">

              <div class="input-group px-0">
                <input type="file" class="form-control" id="inputGroupFile04" aria-describedby="inputGroupFileAddon04" aria-label="Upload">
              </div>

          </div>



<!-- Button row -->
          <div class="mb-3">

                <input type="submit" class="btn btn-primary" name="button" value="Post item">


          </div>

        </form>

    </div>


      </section>



        </div>









    </body>

      <%- include('../layouts/footer.ejs') %>
  </html>
